<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!--    Completar link bootstrap-->
    <title>Editar Empleado</title>
</head>
    <body>
        <div class="container">

            <div class="row mb-4">
                <div class="col-md-6 offset-md-3">
                    <h2>Editar Empleado</h2>
                    <hr/>
                    <form th:action="@{'/empleado/save'}" method="post" th:object="${employee}">
                        <input th:field="*{id}" type="hidden"/>
                        <div class="mb-3">
                            <label class="form-label">Nombre</label>
                            <input type="text" class="form-control" th:field="*{firstName}"/>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Apellido</label>
                            <input type="text" class="form-control" th:field="*{lastName}"/>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Título</label>
                            <input type="text" class="form-control" th:field="*{email}"/>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Departamento</label>
                            <select class="form-select" name="manager" id="manager">
                                <option th:each="depa : ${listaDepartamentos}"
                                        th:selected="${(depa.id == employee.department.id)}"
                                        th:text="${depa.departmentName}"
                                        th:value="${depa.id}"></option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Trabajo</label>
                            <select class="form-select" name="man" id="man">
                                <option th:each="traba : ${listaTrabajos}"
                                        th:selected="${(traba.id == employee.job.id)}"
                                        th:text="${traba.jobTitle}"
                                        th:value="${traba.id}"></option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Salario</label>
                            <input type="number" class="form-control" th:field="*{salary}"/>
                        </div>
                        <a th:href="@{'/empleado'}" class="btn btn-danger">Cancelar</a>
                        <button type="submit" class="btn btn-primary">Actualizar</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>